In [5]:
# load pandas
# load the urllib.request module
# import the json library
import json
import pandas as pd
import urllib.request
import requests

In [9]:
# use pd.read_json() to convert JSON file into a Pandas dataframe
# The function assumes each object in a JSON array is supposed to be a row within the Pandas data frame that it creates.
book_json = pd.read_json("https://raw.githubusercontent.com/XIAOJIA68/DAV-5400/master/book.json")
book_json

               Title       Author      Publisher   Genres  Price
0  The Control Freak  Les Parrott  Tyndale House  Beliefs  13.97

In [17]:
# use BeautifulSoup library to extract data from HTML Github web page
# read HTML file housed within Github repo
tables = pd.read_html('https://raw.githubusercontent.com/XIAOJIA68/DAV-5400/master/book.html')
tables

[                      Title                         Author   Publisher  \
 0  Control the Conversation  Tyndale House,Maryann Karinch  Blackstone

    Genres  Price
 0  Growth  13.95  ]

In [15]:
# the first item (and in this case, the only item) in the list is a data frame
book_html = tables[0]
type(book_html)

pandas.core.frame.DataFrame

In [16]:
# get the data frame of book html
book_html

,Title,Author,Publisher,Genres,Price
0,Control the Conversation,"Tyndale House,Maryann Karinch",Blackstone,Growth,13.95

In [112]:
# import xml.etree.cElementTree as et
# read and parse XMLfile
# define a new function getvalueofnode(node) to return the text

import xml.etree.cElementTree as et

def getvalueofnode(node):
    """ return node text or None """
    return node.text if node is not None else None

In [113]:
# use node.attrib.get() to get the key value k-v of the label inside 
# use node.find() to find the corresponding sub-label(node.find ())
# text: return the corresponding content
# parse the values in the xml to getroot()
# call main() function

def main():
    """ main """
    parsed_xml = et.parse("F:/Analytics Programming/Assn-12/Book2.xml")
    dfcols = ['Title','Author','Publisher','Genres','Price']
    df_xml = pd.DataFrame(columns=dfcols)

    for node in parsed_xml.getroot():
        Title = node.attrib.get('Title')
        Author = node.find('Author')
        Publisher = node.find('Publisher')
        Genres = node.find('Genres')
        Price = node.find('Price')

        df_xml = df_xml.append(
            pd.Series([Title, getvalueofnode(Author),getvalueofnode(Genres),getvalueofnode(Price),
                       getvalueofnode(Publisher)], index=dfcols),
            ignore_index=True)

    print (df_xml)
main()

            Title      Author Publisher Genres            Price
0  Volume Control  David Owen    Health  18.23  Riverhead Books

from the result above, we can see that the dataframe of these three files is similar, and both of them have the same dataframe format

# Part2

In [142]:
import requests
url = 'https://api.nytimes.com/svc/books/v3/lists.json?api-key=lXhuc1z1y1t0AZmnm1JEu0HGUHBql88B'
resp = requests.get(url)
resp

In [138]:
# now convert the 'resp' object's JSON content into a list of 
# native Python objects
data = resp.json()
type(data)

dict

In [135]:
len(data)

4

In [136]:
# view the content of that dict object
data

{'status': 'ERROR',
 'copyright': 'Copyright (c) 2019 The New York Times Company.  All Rights Reserved.',
 'errors': ['No Parameters specified\n', 'Bad Request'],
 'results': []}

In [96]:
# now convert some of the extracted JSON data into a data frame: in this
# example we are extracting the 'number', 'title', 'labels' and 'state'
# components of the dict object
issues = pd.DataFrame(data, columns=['fault', 'detail',
                                     ])
issues

                                               fault detail
detail       {'errorcode': 'oauth.v2.InvalidApiKey'}    NaN
faultstring                           Invalid ApiKey    NaN